header {
  nav.navbar {

    .navbar-collapse {
      margin-top: 45px;


      .navbar-nav {
        float: none;
        &> li {
          float: none;
          display: inline-block;
          & > a {
            padding: 10px 30px;
            font-size: 17px;
            color: #000;

            transition: all 0.5s;

            &:hover, &:focus {
              background: transparent;
              color: $brand-primary;
            }
          }

          &.active {
            a {
              background: $brand-primary;
              color: #ffffff;
            }
          }

          .dropdown-menu {
          left: 20px;
          right: auto;

          a {
            text-overflow: ellipsis;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
          }
        }

        }
      }

      .caret {
        border-top: 4px dashed;
        margin-left: 2px;
      }
    }

    .regional {
      padding: 0;
      img {
        width: 200px;
        margin: 20px 21px 0 0;
      }
    }
  }

  .crumb {

    background-color: $brand-secondary;
    min-height: 50px;
    padding: 10px 0;
    border-top: 1px solid #C1C1C1;
    margin-top: 45px;

    .user-actions{

      padding-left: 15px;

      .join {

        .user {
          &.btn-success {
            padding:0;
            height:33px;
            overflow: hidden;
            border-width: 2px;
            border-right-color: transparent;

            .user-icon img{
              max-height: 100%;
              width: auto;
            }
          }
        }

        .dropdown-toggle {
          border-right: 1px solid;
        }

        .dropdown-menu {

          width: 220px;
          padding: 10px;
          z-index: 99999; //  Show Menu before notifications

          .holder {
            padding:0 25px;
            .form-horizontal {
              .form-group {
                margin-bottom: 10px;
              }

              .btn {
                outline: none !important;
              }
            }

            .counter {
              display: inline-block;
              width:100%;
            }
          }
        }
      }

    }

    .filters { 
      i {
        font-size: 30px;
        padding: 0 10px;
        color: $main-bg;
        margin-top: 4px;
        display: inline-block;
        cursor: pointer;

        &.active {
            color: $brand-primary;
        }

        &.arachnida {
          font-size: 26px;
        }
      }
    }
    
    .free-search {

      .remove-search {
        position: absolute;
        top: 8px;
        left: 85px;
        z-index: 2;
        color: #495763;
        cursor: pointer;
      }

      .search .btn{
        border-radius: 0;
        border-right: 0;
      }

      .adv-search {
        position: static;

        .dropdown-menu.main-drop {
          right:-1px;
          margin-top: 0px;
          width: calc(100% + 1px);
          border-top: none;
          border-radius: 0;

          //opacity:.3;
          -webkit-transform-origin: top;
          transform-origin: top;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
          display: block;
          transition: all 0.2s linear;
          -webkit-transition: all 0.2s linear;

          .holder {
            padding: 10px;

            form {
              padding: 10px 30px 0;

              .dates {
                .dates-dropdown {

                  .dropdown .dropdown-menu {
                    left: auto !important;

                    table {
                      outline:none !important;
                      thead {
                        tr {
                          th {
                            i{
                              font: normal normal normal 14px/1 FontAwesome;

                              &.glyphicon-chevron-left:before { content: "\f054";}
                              &.glyphicon-chevron-right:before { content: "\f053";}

                            }
                          }
                        }
                      }

                      tbody {
                        tr {
                          td {
                            button {
                              border: none;
                            }
                          }
                        }
                      }
                    }

                    .btn-group {
                      .btn {
                        color: #333;
                        background-color: #fff;
                        border-color: #ccc;
                      }
                    }

                    .btn-success {
                      color: #333;
                      background-color: #fff;
                      border-color: #ccc;
                    }
                  }
                }
              }

              .species {
                .dropdown-menu {
                  .media   {

                    padding: 5px;

                    .media-left {
                      .media-object {
                        width: 50px;
                        height: 50px;
                      }
                    }

                    .media-body {

                      .media-heading {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 180px;

                      }
                    }
                  }
                }
              }

              .actions {
                .clean {
                  margin-left: 10px;
                }
              }

              .users {
                .input-holder {
                  width:100%;
                }

                .info {
                  position: absolute;
                  top: -30px;
                  left: 13px;
                }
              }


            }
          }
        }

        &.open {
          .dropdown-menu.main-drop {
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
            opacity:1;
          }
        }
      }

      .input-group {
        .input-group-btn {
          &:last-child {
          }
        }
      }

      &.open {
        .input-group {
          .form-control:first-child {
            border-bottom-right-radius: 0;
          }
          .input-group-btn:last-child .btn{
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}