<div class="contact">
    <div class="col-md-8 col-md-push-2">
        <div class="page-header">
            <h1>יצירת קשר</h1>
        </div>

        <div class="content">
            <div ng-bind-html="text"></div>
            <form class="form-horizontal mt40" name="contact" novalidate  >

                <div class="form-group form-group-lg" ng-class="{ 'has-error': contact.name.$invalid && contact.name.$dirty }">
                    <label class="col-sm-2 control-label" for="name">שם מלא</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-disabled="formDisabled" ng-model="msg.name" name="name" type="text" id="name" required>
                        <label class="error">חובה להזין שם מלא</label>
                    </div>
                </div>

                <div class="form-group form-group-lg" ng-class="{ 'has-error': contact.email.$invalid && contact.email.$dirty }">
                    <label class="col-sm-2 control-label" for="email">דוא"ל</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-disabled="formDisabled" ng-model="msg.email" name="email" type="email" id="email" required>
                        <label class="error">חובה להזין כתובת דוא"ל תקינה</label>
                    </div>
                </div>

                <div class="form-group form-group-lg"  ng-class="{ 'has-error': contact.content.$invalid && contact.content.$dirty }">
                    <label class="col-sm-2 control-label" for="content">תוכן הודעה</label>
                    <div class="col-sm-10">
                        <textarea ng-disabled="formDisabled" class="form-control" ng-model="msg.content" name="content" id="content" rows="10" required></textarea>
                        <label class="error">חובה להזין תוכן לפניה</label>
                    </div>
                </div>

                <div class="form-group form-group-lg">
                    <div class="col-sm-10 col-sm-push-2">
                        <label class="text-brand-success pull-right" ng-show="formSuccess">הודעתך נשלחה בהצלחה! תודה.</label>
                        <button type="submit" ng-disabled="formDisabled" class="btn btn-primary btn-lg pull-left" ng-click="send(contact)">
                            <span>שליחה</span>
                            <span ng-show="loading">
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>