.news-archive {
  padding-bottom:40px;

  .filters {
    .list-group {
      .list-group-item {
        text-align: right;
      }
    }
  }
  .news {
    &:first-child {
      h3 {
        margin-top: 0;
      }
    }
  }
}

.news-single {
  .page-header {
    .index {
      font-size: 14px;
      line-height:60px;
    }
  }
}