<div class="news-archive container">

        <div class="page-header">
            <h1>עדכונים אחרונים באתר תצפיטבע</h1>
        </div>

        <div class="content">

            <div class="col-md-2 filters">
                <div class="list-group">
                    <button type="button" class="list-group-item btn-secondary tar" disabled>ארכיון חדשות</button>
                    <button type="button" class="list-group-item" ng-repeat="year in years" ng-click="filterYear(year.year)" ng-class="{active: year.year === activeYear}">
                        {{year.year}}
                        <span class="badge">{{year.cnt}}</span>
                    </button>
                </div>
            </div>

            <div class="col-md-8">
                <div class="news" ng-repeat="news in items">
                    <h3>
                        <a ui-sref="news.single({id: news.id})">{{news.headline}}</a>
                    </h3>
                    <div ng-bind-html="news.short"></div>
                    <div ng-bind-html="news.content"></div>
                    <small>פורסם בתאריך: </small>
                    <small>{{news.updated_at | badDateToISO | date : 'd/MM/yyyy'}}</small>
                </div>

                <uib-pagination ng-if="totalItems > perPage" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" max-size="10" class="pagination-sm" items-per-page="perPage" boundary-links="false" next-text="הבא" previous-text="הקודם"></uib-pagination>
            </div>
        </div>
    </div>
</div>