.add-ob {
  .panel {

    transition: opacity 0.6s ease;

    .panel-heading {
      transition: all 0.6s ease;
      padding-right:70px;
      font-weight: bold;

      .badge {
        font-size: 34px;
        font-weight: bold;
        position: absolute;
        top: -10px;
        right: 25px;
        padding: 4px 12px;
        border-radius: 50%;
      }
    }

    &.panel-default {
      opacity: .7;
    }
    &.panel-primary {}

    &.main {
      .species {
        .dropdown-menu {
          .media   {

            padding: 5px;

            .media-left {
              .media-object {
                width: 50px;
                height: 50px;
              }
            }

            .media-body {

              .media-heading {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 180px;

              }
            }
          }
        }
      }
    }

    &.dates {
      .date {
        .dropdown-menu {
          width:240px;

          table {
            outline: none;
            thead {
              .glyphicon {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                &.glyphicon-chevron-left:before {content: "\f054";}
                &.glyphicon-chevron-right:before {content: "\f053";}
              }
            }
            tbody {
              tr {
                td {
                  button {
                    border: none;
                  }
                }
              }
            }
          }

          button:not(.active) {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
          }
        }
      }
      .time {
        table {
          margin-top:-10px;
        }
      }
    }

    &.location {
      .panel-body {
        padding: 0;
        #map {
          height: 400px;
          width: 100%;
        }
      }


      .panel-footer {
        strong:nth-child(2) {
          padding-right:20px;
        }
      }
    }

    &.projects {
      .panel-body {
        .list-group {
          button.list-group-item {
            text-align: right;
            outline: none;

            .checked {
              color: green;
            }
          }
        }
      }
    }

    &.images {
      .drop {
        min-height: 200px;
        border: black 1px dashed;
        margin: 10px 0;
        padding: 5px;

        .loaded-images {
          .image {
            .thumbnail {
              //height: 150px;
              margin-bottom: 10px;
              position: relative;
              img {
                width: 100%;
                height:100px;
              }

              .caption {
                padding: 5px;
                font-size: 12px;

                .actions {
                  display: none;
                  position: absolute;
                  top: 5px;
                  left: 5px;

                  .remove {
                    color: red;
                    font-size:20px;
                    cursor: pointer;
                    text-shadow: 1px 1px 2px #000;
                  }
                }
              }

              &:hover {
                .caption .actions {
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    &.submit {
      opacity:1;

      .panel-heading {
        height: 65px;
        border-radius: 6px;
      }
    }
  }
}