<div class="identification discussion">
    <h3>דיון וזיהוי</h3>
    <ul class="media-list">
        <li class="media" ng-repeat="item in comments.comments | orderBy:'updated_at'">

            <!-- Taxa - Identification -->
            <div ng-if="item.taxon">
                <div class="media-left">
                    <img class="media-object" actual-src="{{item.taxon.image_url}}" ng-src="assets/images/item-holder.png">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <span>זוהה:</span>
                        {{item.taxon.common_name.name}}
                        <small class="inline">
                            <span class="latin">{{item.taxon.name}}</span>
                        </small>
                        <comment-agree comment="item"></comment-agree>
                        <remove-identification comment="item"></remove-identification>

                    </h4>
                    <span class="pre-wrap">{{item.body}}</span>
                    <p>
                        <img ui-sref="user.obs({slug: item.user.login})" actual-src="{{item.user.user_icon_url}}" ng-src="assets/images/person.png" class="img-circle pointer">
                        <span>על ידי</span>:
                        <a ui-sref="user.obs({slug: item.user.login})" class="inline">{{item.user.name ? item.user.name : item.user.login}}</a>,
                        {{item.created_at | date:"dd/MM/yyyy"}}
                    </p>
                </div>
            </div>
            <!-- / Taxa - Identification -->

            <!-- Comment -->
            <div ng-if="!item.taxon">
                <div class="media-left">
                    <a href="#">
                        <!--<img class="media-object" ng-src="{{item.user.user_icon_url}}">-->
                        <img class="media-object"  ng-src='assets/images/person.png'  actual-src="{{item.user.user_icon_url}}">

                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">
                        <span class="pre-wrap">{{item.body}}</span>
                    </h5>

                    <p>
                        <small><a ui-sref="user.obs({slug: item.user.login})">{{item.user.name}} <span ng-if="!item.user.name">{{item.user.login}}</span></a>, {{item.created_at | date:"dd/MM/yyyy"}}</small>
                    </p>
                </div>
            </div>
            <!-- /Comment -->

        </li>
    </ul>
</div>