<div ng-class="btnGroupType" role="group">
    <button
        type="button"
        ng-repeat="grade in grades"
        class="btn btn-transparent {{grade.name}}"
        ng-class="{active: $index === activeGrade}"
        title="{{$index === activeGrade && !showPopover ? grade.title : ''}}"
        popover-placement="bottom"
        uib-popover="{{grade.title}}"
        popover-append-to-body="true"
        popover-trigger="mouseenter"
        popover-class="{{grade.name}} popover-grade"
        popover-enable="showPopover"
    >
        <i class="fa" ng-class="grade.class"></i>
    </button>
</div>