<div class="relative species">
    <div class="row">
        <div class="col-md-10">
            <input type="text"
               ng-model="innerModel"
               uib-typeahead="taxa for taxas in auto.getTaxa($viewValue)"
               typeahead-loading="auto.loadingTaxas"
               typeahead-no-results="noTaxasResults"
               typeahead-template-url="customTaxaTemplate.html"
               typeahead-min-length="2"
               typeahead-on-select="auto.setTaxaTypeHead($item)"
               placeholder="{{auto.placeholder}}"
               ng-focus="auto.onfocus()"
               class="form-control"
            >

            <i class="fa fa-times pointer clear" ng-click="auto.clear()" ng-show="auto.showClear"></i>
        </div>
        <div class="col-md-2 nowrap info">
            <span ng-show="auto.loadingTaxas"><i class="fa fa-spinner fa-spin"></i></span>
            <div ng-show="noTaxasResults">אין תוצאות</div>
        </div>
</div>



<script type="text/ng-template" id="customTaxaTemplate.html">
    <div class="media pointer">
        <div class="media-left">
            <img class="media-object" ng-src="{{match.model.default_photo['square_url']}}">
        </div>
        <div class="media-body">
            <h5 class="media-heading" ng-bind-html="match.model.matched_term | uibTypeaheadHighlight:query"></h5>
            <div class="latin">
                <small>{{match.model.name}}</small>
            </div>
        </div>
    </div>
</script>