

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Users
            </div>
          <div class="panel-body">
            <?php
            foreach($users as $user){
                //  echo $user['users']['login'] . '<br>';

              $userImg = $user['users']['icon'];
              if(empty($userImg))
                $userImg = 'assets/images/person.png';

                echo "<div class=\"media\">";
                echo "<div class=\"media-left media-middle\">";
                echo "<img class=\"media-object\" src=\"{$userImg}\" width=\"60\">";
                echo "</div>";
                echo "<div class=\"media-body\">";
                //echo "<h4 class=\"media-heading\">Middle aligned media</h4>";
                echo $user['users']['login'];
                echo "</div>";
                echo "</div>";
            }
            ?>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <h1>MainASDASD</h1>


        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        
    </div>
    <div class="col-md-3"></div>
</div>

<?php
// pr($obs);
foreach($obs as $O)
{
	// pr($O);
	// echo json_encode($O,JSON_PRETTY_PRINT);
	echo "{ title: \"{$O['Pro']['title']}\", slug: \"{$O['Pro']['slug']}\" }\n";
}
?>

<script>
$(function () {
  // Create the chart
  $('#container').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: 'Browser market shares. January, 2015 to May, 2015'
    },
    subtitle: {
      text: 'Click the columns to view versions. Source: <a href="http://netmarketshare.com">netmarketshare.com</a>.'
    },
    xAxis: {
      type: 'category'
    },
    yAxis: {
      title: {
        text: 'Total percent market share'
      }
      
    },
    legend: {
      enabled: false
    },
    plotOptions: {
      series: {
        borderWidth: 0,
        dataLabels: {
          enabled: true,
          format: '{point.y:.1f}%'
        }
      }
    },
    
    tooltip: {
      headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
      pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },
    
    series: [{
      name: 'Brands',
      colorByPoint: true,
      data: [
<?php
foreach($obs as $O)
{
	echo "{ name: \"{$O['Pro']['title']}\", y: {$O['Pro']['id']}, drilldown: \"{$O['Pro']['title']}\" },\n";
}
?>
      {
        name: 'Microsoft Internet Explorer',
        y: 56.33,
        drilldown: 'Microsoft Internet Explorer'
      }, {
        name: 'Chrome',
        y: 24.03,
        drilldown: 'Chrome'
      }, {
        name: 'Firefox',
        y: 10.38,
        drilldown: 'Firefox'
      }, {
        name: 'Safari',
        y: 4.77,
        drilldown: 'Safari'
      }, {
        name: 'Opera',
        y: 0.91,
        drilldown: 'Opera'
      }, {
        name: 'Proprietary or Undetectable',
        y: 0.2,
        drilldown: null
      }
      ]
    }],
    drilldown: {
      series: [{
        name: 'Microsoft Internet Explorer',
        id: 'Microsoft Internet Explorer',
        data: [
          [
            'v11.0',
            24.13
          ],
          [
            'v8.0',
            17.2
          ],
          [
            'v9.0',
            8.11
          ],
          [
            'v10.0',
            5.33
          ],
          [
            'v6.0',
            1.06
          ],
          [
            'v7.0',
            0.5
          ]
        ]
      }, {
        name: 'Chrome',
        id: 'Chrome',
        data: [
          [
            'v40.0',
            5
          ],
          [
            'v41.0',
            4.32
          ],
          [
            'v42.0',
            3.68
          ],
          [
            'v39.0',
            2.96
          ],
          [
            'v36.0',
            2.53
          ],
          [
            'v43.0',
            1.45
          ],
          [
            'v31.0',
            1.24
          ],
          [
            'v35.0',
            0.85
          ],
          [
            'v38.0',
            0.6
          ],
          [
            'v32.0',
            0.55
          ],
          [
            'v37.0',
            0.38
          ],
          [
            'v33.0',
            0.19
          ],
          [
            'v34.0',
            0.14
          ],
          [
            'v30.0',
            0.14
          ]
        ]
      }, {
        name: 'Firefox',
        id: 'Firefox',
        data: [
          [
            'v35',
            2.76
          ],
          [
            'v36',
            2.32
          ],
          [
            'v37',
            2.31
          ],
          [
            'v34',
            1.27
          ],
          [
            'v38',
            1.02
          ],
          [
            'v31',
            0.33
          ],
          [
            'v33',
            0.22
          ],
          [
            'v32',
            0.15
          ]
        ]
      }, {
        name: 'Safari',
        id: 'Safari',
        data: [
          [
            'v8.0',
            2.56
          ],
          [
            'v7.1',
            0.77
          ],
          [
            'v5.1',
            0.42
          ],
          [
            'v5.0',
            0.3
          ],
          [
            'v6.1',
            0.29
          ],
          [
            'v7.0',
            0.26
          ],
          [
            'v6.2',
            0.17
          ]
        ]
      }, {
        name: 'Opera',
        id: 'Opera',
        data: [
          [
            'v12.x',
            0.34
          ],
          [
            'v28',
            0.24
          ],
          [
            'v27',
            0.17
          ],
          [
            'v29',
            0.16
          ]
        ]
      }]
    }
  });
});
</script>