<div class="register-form">
    <div class="alert alert-success" role="alert" ng-if="userLoggedIn">
        <span>הינך כבר מחובר\ת למערכת, אין צורך ברישום</span>
    </div>

    <div class="form" ng-if="!userLoggedIn">
        <form class="form-horizontal" name="regForm" novalidate>

            <div class="form-group" ng-class="{'has-error' : regForm.email.$invalid && regForm.email.$dirty}">
                <label class="col-sm-2 control-label nowrap">דוא"ל</label>
                <div class="col-sm-10">
                    <input type="email" name="email" ng-model="user.email" class="form-control" required placeholder="כתובת הדואל העדכנית שלך">
                    <div class="help-block" ng-show="regForm.email.$invalid && regForm.email.$dirty">
                        <span>כתובת דוא"ל לא תקינה</span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error' : regForm.username.$invalid && regForm.username.$dirty}">
                <label class="col-sm-2 control-labe nowrap">שם משתמש</label>
                <div class="col-sm-10">
                    <input type="text" name="username" ng-model="user.login" class="form-control" ng-maxlength="40" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9]*$/" required back-check-empty placeholder="יש להשתמש באותיות לועזיות קטנות ומספרים בלבד">

                    <div class="help-block" ng-show="regForm.username.$pending">
                        <i class="fa fa-spin fa-spinner"></i>
                        <span>בודק זמינות שם משתמש</span>
                    </div>

                    <div class="help-block" ng-show="regForm.username.$invalid && regForm.username.$dirty">
                        <div ng-show="regForm.username.$error.pattern">שם משתמש מכיל תווים לא חוקיים</div>
                        <div ng-show="regForm.username.$error.required">יש לבחור שם משתמש</div>
                        <div ng-show="regForm.username.$error.backCheckEmpty">שם זה כבר קיים במערכת</div>
                        <div ng-show="regForm.username.$error.minlength || regForm.username.$error.maxlength">שם משתמש חייב להיות בין 3 ל 40 תוים</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label nowrap">שם מלא</label>
                <div class="col-sm-10">
                    <input type="text" name="userdisplay" ng-model="user.name" class="form-control" placeholder="השם שיוצג באתר, ניתן להשתמש בעברית">
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error' : regForm.password.$invalid && regForm.password.$dirty}">
                <label class="col-sm-2 control-label">סיסמא</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" ng-model="user.password" required placeholder="אנגלית בלבד">
                    <div class="help-block" ng-show="regForm.password.$invalid && regForm.password.$dirty">
                        <span>חובה לבחור סיסמה</span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error' : regForm.passwordConfirm.$invalid && regForm.passwordConfirm.$dirty}">
                <label class="col-sm-2 control-label">אימות סיסמא</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="passwordConfirm" ng-model="user.password_confirmation" compare-to="user.password" required placeholder="אנגלית בלבד">
                    <div class="help-block" ng-show="regForm.passwordConfirm.$invalid && regForm.passwordConfirm.$dirty && regForm.passwordConfirm.$error.compareTo">
                        <span>סיסמאות לא תואמות</span>
                    </div>
                    <div class="help-block" ng-show="regForm.passwordConfirm.$invalid && regForm.passwordConfirm.$dirty && regForm.passwordConfirm.$error.required">
                        <span>חובה להזין אימות סיסמה</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">מי אני</label>
                <div class="col-sm-10">
                    <textarea name="desc" ng-model="user.description" class="form-control" placeholder="כמה מילים על עצמך"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-7">
                    <div class="alert alert-danger" role="alert" ng-show="errors">
                        <div ng-repeat="error in errors">
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary pull-left" ng-click="save(regForm)">
                        <span>הרשמה</span>
                        <span ng-show="loading">
                            <span class="fa fa-spin fa-spinner"></span>
                        </span>
                    </button>

                </div>
            </div>
        </form>

    </div>
</div>