<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 project" ng-if="list.length" ng-repeat="project in list | orderBy: projOrder">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="media">
                    <div class="media-left">
                        <a ui-sref="projects.single({slug: project.slug})">
                            <img ng-if="project.icon_url" ng-src="{{project.icon_url}}" alt="{{project.title}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a ui-sref="projects.single({slug: project.slug})">{{project.title}}</a>
                        </h4>
                        <small ng-show="project.observations_count">
                            <span>תצפיות:</span> <span class="badge ng-binding">{{project.observations_count}}</span>
                            <span>מינים:</span> <span class="badge ng-binding">{{project.taxa_count}}</span>
                        </small>
                    </div>
                </div>

                {{project.description  | limitTo: 150}}
                <div ng-if="!project.description">אין תיאור זמין</div>
            </div>

            <div class="panel-footer" ng-if="project.ccUserSingTo || project.ccUserLoggedIn">
                <div class="btn-group btn-group-justifieddd" role="group">
                    <div class="btn-group btn-group-sm" role="group"  ng-if="project.ccUserSingTo && showActions(project)">
                        <button class="btn btn-danger" ng-click="leave(project)">עזוב את הפרוייקט</button>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" ng-if="!project.ccUserSingTo && project.ccUserLoggedIn && showActions(project)">
                        <button  class="btn btn-success" ng-click="join(project)">הצטרפות לפרויקט</button>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button ui-sref="projects.single({slug: project.slug})" class="btn btn-default">צפה בפרוייקט</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div ng-show="list.length === 0" class="col-md-12">
        <p class="alert"> <span class="fa fa-check-circle primary"></span>  {{noProjNotice}}</p>
    </div>
</div>


<script type="text/ng-template" id="leaveProjectModal.html">
    <div class="modal-header">
        <h4 class="modal-title">אישור עזיבת פרויקט</h4>
    </div>
    <div class="modal-body">
        <p>האם לעזוב את פרויקט
        {{project.title}}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger btn-sm" type="button" ng-click="ok()">עזיבה</button>
        <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">ביטול</button>
    </div>
</script>