.activity-page {
    .page-header {
        position: relative;

        .filters {
            position: absolute;
            left: 0;
            bottom: 19px;

            .btn-group:first-child {
                margin-left: 10px;
            }

            .dropdown-menu {
                li a {}
            }
        }
    }

    .top-obs, .top-users  {
        .thumbnail {
            .image {
                img {
                    width: 100%;
                }

                .no-image {
                    height: 200px;
                    font-size: 30px;
                    line-height: 35px;
                    span {
                        margin-top:30px;
                        display: block;
                    }
                }
            }
            h4 {
                padding-left: 50px;
                margin-top: 0;
            }
            .label {
                position: absolute;
                top: 9px;
                left: 9px;
                padding: 7px;

                .num {
                    font-size: 150%;
                    font-weight: normal;
                }
            }
            
            p {
                
                &:last-child {
                    margin-bottom: 0;
                }
                
                img {
                    width: 30px;
                }
            }
        }
    }
    
    .top-users {
        img {
            width: 100%;
        }
        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(73, 87, 99, 0.8);
            padding: 5px;
            color: #fff;
        }
    }
}