<div class="activity-page container content">
    <div class="page-header">
        <h1>פעילות</h1>
        <div class="filters">
            <div class="btn-group" role="group" uib-dropdown>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                    {{activeProject.title}}
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul uib-dropdown-menu>
                    <li ng-repeat="project in projects | orderBy:projOrder"><a ng-click="changeProject(project)" class="pointer">{{project.title}}</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-class="{active: (filterBy === 'week')}" ng-click="filter('week')">השבוע</button>
                <button type="button" class="btn btn-default" ng-class="{active: (filterBy === 'month')}" ng-click="filter('month')">החודש</button>
                <button type="button" class="btn btn-default" ng-class="{active: (filterBy === 'year')}" ng-click="filter('year')">השנה</button>
                <button type="button" class="btn btn-default" ng-class="{active: (filterBy === 'ever')}" ng-click="filter('ever')">כל הזמנים</button>
            </div>
        </div>
    </div>

    <div ng-bind-html="text"></div>

    <div class="row">

    <div class="top-obs col-md-3">
        <h3>הזנים הנצפים ביותר</h3>
        <div class="row" ng-if="items.length">
            <div class="col-md-12" ng-repeat="item in items | limitTo:5">
                <div class="thumbnail">
                    <div class="image pointer" ng-click="taxaLink(item)">
                        <img ng-if="item.taxon.default_photo" actual-src="{{item.taxon.default_photo.medium_url}}">
                        <div ng-if="!item.taxon.default_photo" class="no-image">
                            <span>זן<br>ללא<br>תמונה</span>
                        </div>
                    </div>
                  <div class="caption relative">
                      
                    <h4><span class="pointer" ng-click="taxaLink(item)">{{$index+1}}. {{item.taxon.preferred_common_name}}</span></h4>
                        <span class="label label-success">
                            <span class="num">{{item.count}}</span>
                        </span>
                    <div class="info ">
                        <p class="latin">{{item.taxon.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <p ng-hide="items.length">לא נמצאו תוצאות</p>
    </div>
    
    <div class="top-users col-md-3 col-md-offset-1">
        <h3>המשתמשים הפעילים ביותר</h3>
        <div class="row" ng-if="observers.length">
            <div class="col-md-12 " ng-repeat="user in observers | limitTo:5" ui-sref="user.obs({slug: user.user.login})">
                <div class="thumbnail">
                    <div class="image">
                        <img actual-src="{{user.user.icon_url}}" ng-src="assets/images/person.png" ui-sref="user.obs({slug: user.user.login})" class="pointer">
                    </div>

                    <div class="caption relative">
                        <h4 ui-sref="user.obs({slug: user.user.login})" class="pointer">
                            {{$index+1}}. {{user.user.name}}
                            <span ng-hide="user.user.name">{{user.user.login}}</span>
                        </h4>

                        <span class="label label-success">
                            <span class="num">{{user.observation_count}}</span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <p ng-hide="observers.length">לא נמצאו תוצאות</p>
    </div>

    <div class="top-users ident col-md-3 col-md-offset-1">
        <h3>המשתמשים המזהים ביותר</h3>
        <div class="row" ng-if="identifiers.length">
            <div class="col-md-12 pointer" ng-repeat="user in identifiers | limitTo:5" ui-sref="user.obs({slug: user.user.login})">
                <div class="thumbnail">
                    <div class="image">
                        <img actual-src="{{user.user.icon_url}}" ng-src="assets/images/person.png" ui-sref="user.obs({slug: user.user.login})" class="pointer">
                    </div>

                    <div class="caption relative">
                        <h4 ui-sref="user.obs({slug: user.user.login})" class="pointer">
                            {{$index+1}}. {{user.user.name}}
                            <span ng-hide="user.user.name">{{user.user.login}}</span>
                        </h4>

                        <span class="label label-success">
                            <span class="num">{{user.count}}</span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <p ng-hide="identifiers.length">לא נמצאו תוצאות</p>
    </div>

    </div>
</div>