<div id="home-map" class="container-fluid">
    <div class="row">
        <div class="col-md-3 items">
            <div class="holder">
                <div ng-include="'app/pages/home/sidebar.html'"></div>
            </div>
        </div>
        <div class="col-md-9 map">
            <div class="holder" ng-style="mapHeight" style="height: 762px;">
                <cc-map items="items" options="mapOptions" active="activeItem" has-border></cc-map>

                <cc-map-small></cc-map-small>
            </div>
        </div>
    </div>
</div>
