<div class="single-project container-fluid relative">

    <!--MAP-->
    <div class="row">
        <cc-map items="items" options="mapOptions"></cc-map>
    </div>
    <!--/MAP-->

    <div class="container content">

        <div class="page-header">
            <h1>
                <span>פרוייקט:</span>
                <span>{{project.title}}</span>
            </h1>

            <p>
                <span>משתמשים:</span> {{projectMembers.total | number}} |
                <span>תצפיות:</span> {{project.project_observations_count | number}} |
                <span>זנים:</span>
                <span ng-if="projectCashedInfo">{{projectCashedInfo.taxa_count | number}}</span>
                <span ng-if="!projectCashedInfo">{{project.observed_taxa_count | number}}</span>

                <span ng-if="userLoggedIn && userInProject">
                    | <span class="label label-success">רשום לפרוייקט</span>
                </span>
            </p>
        </div>

        <div class="row">

            <!--MAIN-->
            <div class="col-md-8 main">

                <nav class="navbar navbar-default">

                    <div class="navbar-header">
                        <span class="navbar-brand">תצפיות</span>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav nav-tabs pull-right">
                            <li role="presentation" ui-sref-active="active" class="active">
                                <a ui-sref="projects.single.gallery">גלריה</a>
                            </li>
                            <li role="presentation" ui-sref-active="active" class="active">
                                <a ui-sref="projects.single.list">רשימה</a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left search-form" role="search">
                            <div class="input-group">
                                <input type="text" ng-model="q" cc-enter="search()" class="form-control" placeholder="חפש בפרוייקט זה...">
                                <span class="input-group-btn">
                                    <button ng-click="search()" class="btn btn-default" type="button">חפש</button>
                                </span>
                            </div>
                            <i class="fa fa-times remove-search" ng-show="q.length" ng-click="clearSearch()"></i>
                        </form>
                    </div>
                </nav>

                <div ui-view>
                    <items-gallery items="items" cc-pagination="pagOptions"></items-gallery>
                </div>
                <h4 ng-if="!items.length && !loadingItems">לא נמצאו פריטים</h4>

                <div class="tac clear" ng-show="items.length">
                    <uib-pagination total-items="pagOptions.totalItems" items-per-page="pagOptions.perPage" ng-model="pagOptions.currentPage" max-size="5" ng-change="pagOptions.pageChanged()" class="pagination-sm" boundary-links="false" next-text="הבא" previous-text="הקודם"></uib-pagination>
                </div>

            </div>
            <!--MAIN-->

            <!--SIDEBAR-->
            <div class="col-md-4 sidebar">

                <div class="panel panel-primary about">
                    <div class="panel-heading">אודות הפרוייקט</div>
                    <div class="panel-body">
                        <p>{{project.description}}</p>
                        <div class="btn-group btn-group-justified mt30" role="group" aria-label="Justified button group">
                            <bottun ui-sref="join" class="btn btn-success" role="button" ng-show="!userLoggedIn">הצטרפות</bottun>
                            <bottun ng-click="joinProject()" class="btn btn-success" role="button" ng-show="userLoggedIn && !userInProject">הצטרף לפרוייקט זה</bottun>
                        </div>

                    </div>
                </div>

                <div class="panel panel-primary users">
                    <div class="panel-heading">משתמשים בפרויקט</div>
                    <div class="panel-body">
                        <a ng-repeat="member in projectMembers.items" ui-sref="user.obs({slug: member.user.login})">
                            <img actual-src="{{member.user.icon_url}}" ng-src='assets/images/person.png' alt="{{member.user.name}}" title="{{member.user.name}}" width="66px" height="66px">
                        </a>
                    </div>
                </div>

            </div>
            <!--SIDEBAR-->
        </div>
    </div>
</div>