items-gallery {
  .row {
    -moz-column-width: 14em;
    -webkit-column-width: 14em;
    column-width: 14em;

    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;


    .item {
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 100%;
      margin-bottom: 15px;

      img {
        width: 100%;
        transition: opacity 0.6s ease;
      }

      .no-image-parent {

        .no-image {
          border: none;
          font-size: 30px;
          line-height: normal;
          padding-bottom: 40px;
        }
      }

      .info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba( $brand-secondary, 0.8 );
        text-align: center;
        padding: 5px;

        a {
          color: #ffffff;
        }
      }
    }
  }
}

items-list {
  .media-list {
    padding: 0px 10px 0 15px;
    white-space: normal;
    margin-bottom: 0;

    .media {

      border: 1px solid #fff;
      padding: 5px;
      position: relative;
      overflow: visible;
      &.active {

        background: #687682;

        &:before {
          position: absolute;
          top: -3px;
          left: -3px;
          content: '';
          width: calc(100% + 6px);
          height: calc(100% + 6px);
          border: 3px solid $brand-warning;
        }

        &.green:before {border-color: #5CB85C;}
        &.blue:before {border-color: #0093DB;}
        &.grey:before {border-color: #C0BDBC;}
      }

      .media-left {
        .media-object {
          width: 75px;
          height: 75px;
        }
        a {
          position: relative;
        }
      }

      .media-body {
        overflow: visible;
        padding-left: 40px;
        //position: relative;
        &,a {
          color: #ffffff;
        }

        .media-heading {
          margin-bottom: 0;
          .label {
            font-size: 60%;
            color: #ffffff;
          }
        }

        .lating {
          font-size: 14px;
          color: #F3F3F3;
        }

        .info  {
          i {
            font-size: 80%;
            padding-left: 5px;
          }
        }
        .actions {
          position: absolute;
          height: 100%;
          top: 0px;
          left: 0px;
          text-align: left;
          i {
            &.obscured {
              font-size: 11px;
              vertical-align: top;
              padding: 5px 2px;
            }
          }


        }
      }

    }

  }

  &.no-bg {
    .media-list {
      padding: 0;
      .media {
        border-color: $brand-secondary;
        .media-body {
          color: $brand-secondary;
          a,.lating-taxa {
            color: $brand-secondary;
          }
        }
      }
    }
  }

  &.two-lists {
    .media-list {
      .media {

        &:first-child {
          margin-top: 15px;
        }
        &:nth-child(even){
          float: left;
        }
        &:nth-child(odd){
          clear: right;
        }

        max-width: 45%;
        float: right;
      }
    }
  }
}

item-grade {

  display: inline-block;
  height: 100%;
  overflow: hidden;

  .btn-group-vertical{

    background: #687682;
    width: 25px;
    height: 100%;

    &>.btn {

      padding: 0px;
      background: transparent;
      border: none;
      color: #ffffff;
      height: calc(25% + 1px);
      opacity: 0.6;

      &:first-child,&:last-child {
        border-radius: 0 !important;
      }

      &:active, &:hover, &:focus, &.active {
        background: transparent;
        outline: none;
        box-shadow: none;
        color: inherit;
      }

      &.active {
        opacity:1;

        &.curator {
          background: $brand-success;
        }
        &.community {
          background: $brand-primary;
        }
        &.user {
          background: $brand-warning;
        }
        &.needid {
          background: $brand-danger;
        }

      }
    }
  }

  &[horizonal='true'] {
    margin: auto;
    display: table;
    margin-bottom: 15px;

    .btn-group {
      &:before {
        content: "";
        border-top: 2px solid rgba($brand-secondary, 0.61);
        width: calc(100% - 60px);
        position: absolute;
        left: 30px;
        top: 50%;
      }
      .btn {
        width: 25%;
        padding: 6px 25px;
        position: relative;
        float: left;
        i {
          background: #ffffff;

          color: $brand-secondary;
          font-size: 25px;
        }

        &.active, &:hover {

          &.curator i{
            color: $brand-success;
          }
          &.community i{
            color: $brand-primary;
          }
          &.user i{
            color: $brand-warning;
          }
          &.needid i{
            color: $brand-danger;
          }

        }

      }
    }
  }

  &[label='true'] {}
}

species-compleate, users-compleate {

  .clear {
    position: absolute;
    top: 10px;
    left: 25px;
    opacity: 0.6;
    z-index: 5;
  }

  .info {
    line-height:30px;
    padding-right:0;
  }

  .media {

    margin-top: 20px;

    .media-left {
      .media-object {
        width: 50px;
        height:auto;
      }
    }

    .media-body {

    }
  }
}

.popover.popover-grade {
  z-index: 1049;
  background: transparent;
  border: none;
  box-shadow: none;
  color: $brand-secondary;
  margin-top: -7px;

  .arrow {
    display: none;
  }

  .popover-content {
    padding: 0;
  }
}