.news {
  .cc-list{
    .panel-body{
      .list-group{
        .list-group-item {
          .actions {
            display: none;
            position: absolute;
            top: 10px;
            left: 10px;
          }

          &:hover {
            .actions {
              display: block;
            }
          }
        }
      }
    }
  }
}