.texts {
  .tab-content {
    padding-right: 140px;
      
    .tab-pane {
        margin-top: 20px;
      
        .editing {    
            display: inline-block;
            width: 100%;
        }
        
        .btn-group {
            margin-top: 20px;
        }
    }
  }
  
  ul.nav.nav-pills {
    float: right;
    min-width: 130px;
  }
}